# DashScope API Key
# 从 https://dashscope.console.aliyun.com/ 获取
DASHSCOPE_API_KEY=Your_API_key

# Tavily API Key (用于网络搜索)
# 从 https://tavily.com/ 获取
TAVILY_API_KEY=Your_API_key

# OpenRouter API Key和模型配置
# 从 https://openrouter.ai/ 获取
OPENROUTER_API_KEY=Your_API_key

MODEL_ID = openai/gpt-4o-mini
MODEL_BASE_URL = https://openrouter.ai/api/v1